<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    {% include 'gtaautos/includes/head.html' %}
</head>

<body>
    {% if user.is_authenticated %}
    {% include 'gtaautos/includes/headeradmin.html' %}
    {% else %}
    {% include 'gtaautos/includes/header.html' %}
    {% endif %}
    <table class="table">
        {% for auto in autos %}
        <tr class="">
            <td>{{ auto.name}}</td>
            <td>{{ auto.price }}</td>
            <td>{{ auto.salon }}</td>
        </tr>

        {% endfor %}
    </table>
</body>

</html>